# not track secrets 
.env

# not track jupyter lab anywhere
.ipynb_checkpoints/
*/.ipynb_checkpoints/


# Backend (FastAPI)
venv/*
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
*.log
*.swp

# Frontend (React)
node_modules/
build/
dist/
.cache/
*.log
*.swp